<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>本棚.org</title>
    <link id="piclens" rel="alternate" type="application/rss+xml" title="新着本" href="/piclens.rss" />
    <%= stylesheet_link_tag "bookshelf" %>
    <%= javascript_include_tag "cookiejump" %>
    <link rel="alternate" type="application/atom+xml" title="hondana.org" href="http://hondana.org/atom.xml">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
    <div id="home_header">
      <br/>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right">
            <form action=<%= url_for :controller => 'bookshelf', :action => 'search' %> method = 'get'>
            本を探す  <input id="q" name="q" type="text" /> <input name="commit" type="submit" value="本棚.orgで検索" />
            </form>
          </td>
          <td>
            <form method="GET" action="http://www.amazon.co.jp/exec/obidos/external-search/">
            　<input type="text" name="keyword" value="">
              <input type="hidden" name="tag" value="bookshelf-1-22">
              <input type="hidden" name="encoding-string-jp" value="日本語">
              <input type=submit value="Amazonで検索">
            </form>
          </td>
        </tr>
      </table>
    </div>

    <div id="container">
      <div id="shelf_v">
        <div id="shelf">
          <div class="shelf_h"><%= image_tag("/images/fms.gif", :class => "fms") %></div>
          <table width="100%" height="128" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="8"></td>
              <% @newentries.each { |entry|  %>
                <% @entry = entry %>
                <td align="center" valign="bottom">
                  <%= render :partial => 'shelf/imagetext_nodot' %>
                </td>
              <% } %>
              <td width="8"></td>
            </tr>
          </table>
          <div class="shelf_h"><%= image_tag("/images/fms.gif", :class => "fms") %></div>
          <div class="list">
            <table width="100%">
              <tr>
                <td align="center">
                  <% form_tag({:action => 'create'}) do %>
                    蔵書、気になる本、共有の本棚、何でもどうぞ。本棚の名前を入力して「作成」ボタンを押すと本棚ができます。
                    <%= text_field_tag 'shelfname' %> の本棚を <%= submit_tag '作成' %>
                  <% end %>
                  <%= Shelf.count %>本棚　<%= Book.count %>冊　<%= link_to '更新順本棚一覧', :controller => 'bookshelf', :action => 'alllist' %>
                  <hr noshade="noshade" size="1"/>
		  <!--a href="listbyname.html">名前順本棚一覧</a>
		  <a href="(EmptyReference!)">ランキング一覧</a>いろいろな角度から本棚を探せます。-->
		</td>
	      </tr>
	    </table>
	    <table width="100%">
	      <tr>
		<td valign="top" width="240">
		  ヘルプは各本棚のメニューにあります。<br/><br/>
		  <hr noshade="noshade" size="1"/>
		  <b>News</b><br/><br/>
		  <!-- ********************************************************************************* -->
		  2013/9/28
		  <ul>
		    <li>サーバ移転時に数日ぶんのデータが消えてしまいました。申し訳ございません。
		  </ul>
                  2013/1/4
                  <ul>
                    <li><a href="/enzan/">本棚演算</a>をリニューアルしました
                  </ul>
                  2011/4/14
                  <ul>
                    <li>本棚.orgのソースを<a href="https://github.com/masui/Hondana">GitHub</a>で公開しています
                  </ul>
                  2011/4/12
                  <ul>
                    <li>サーバを移転してApache2+Rails2に変更しました。
                  不具合があれば masui@pitecan.com にご報告下さい。
                  </ul>
                  2011/3/26
		  <ul>
		  <li>MySQLデータを<a href="http://gyazz.com/本棚/MySQLデータ">公開</a>しています。
		  80MBほどのデータです。
                  </ul>
		  2009/4/17 18:00
		  <ul>
		  <li><font color=red>破壊行為が観測されたため本棚削除機能を一時的に停止しています。自分の本棚が消えてしまったという方はご連絡下さい。</font>
		  </ul>
		  <br>
		  <!-- ********************************************************************************* -->
		</td>
		<td width="5"></td>
		<td width="1" bgcolor="#999999"></td>
		<td width="5"></td>
		<td valign="top">
                  <% form_tag({:controller => 'bookshelf', :action => 'shelfsearch'}) do %>
                    <h2>最近更新された本棚15 　　　　 本棚を探す  <%= text_field_tag 'q' %> <%= submit_tag '検索' %></h2>
                  <% end %>
		    <div id='listdiv'>
		      <table id='listtable'>
		        <% for shelf in @dispshelves %>
			<tr>
			  <td width='150'>
			    <%= link_to shelf.name, {:controller => 'shelf', :shelfname => shelf.name, :action => 'show'} %>
			  </td>
			  <td align='right'>
			    (<%= shelf.countbook %>/<%= shelf.countbook_comm %>)冊
			  </td>
			  <td>
			    <%
			      # 何故かexpand_tag()をapplicatoin_helper.rbで定義しないとCGI版が動かない!
			      desc = expand_tag(shelf.description,shelf.name)
			      desc.gsub!(/\<\/?[^>]+\>/,'')
			      desc.gsub!(/[\r\n]+/,'')
			      if desc =~ /^.{30}/ then
			        desc = "#{$&}..."
			      end
			    %>
			    <%=h desc %>
			  </td>
			</tr>
			<% end %>
		      </table>
		    </div>
		    <br/>
		  <hr noshade="noshade" size="1"/>
		  <h2>こんな本棚もいかが？　ランダムに10</h2>
		  <table>
		    <% for shelf in @rand10 %>
		      <tr>
			<td width='150'>
			  <%= link_to shelf.name, {:controller => 'shelf', :shelfname => shelf.name, :action => 'show'} %>
			</td>
			<td align='right'>
			  (<%= shelf.countbook %>/<%= shelf.countbook_comm %>)冊
			</td>
			<td>
			  <%=h shelf.description %>
			</td>
		      </tr>
		    <% end %>
		  </table>
		</td>
	      </tr>
	    </table>
	  </div>
	  <div class="shelf_h"><%= image_tag("/images/fms.gif", :class => "fms") %></div>
	</div>
      </div>
      <div id="shelf_shade"></div>
      <div id="footer">
	Powered by <a href="http://www.pitecan.com">pitecan</a>
      </div>
    </div>
  </body>

  <!-- javascript_include_tag "shelfsearch" -->
</html>
