<div id="shelf_imagelist">
  <% @entrylist.each { |entry| %>
    <% @entry = entry %>
    <!--div-->
      <div style='float:left;margin:0px;height:138;width:96'>
        <div style='padding:0px;margin:0pt;height:8'><img class='fms' src='/images/fms.gif'></div>
        <%= render :partial => 'imagetext' %>
      </div>
    <!--/div-->
  <% } %>
  <br clear="all">
</div>

