<%= render :partial => 'header' %>

<div id="shelf_v">
  <div id="shelf">
    <div class="shelf_h"><%= image_tag ("/images/fms.gif", :class => "fms") %></div>
    <div class="list">
      <h2>バックアップ</h2>
      <pre>
      <%= @jsonstr %>
      </pre>
    </div>
    <div class="shelf_h"><%= image_tag ("/images/fms.gif", :class => "fms") %></div>
  </div>
</div>

<%= render :partial => 'footer' %>
