<%= render :partial => 'header' %>

<div id='book_volumes'>
  (<%= @shelf.countbook %>/<%= @shelf.countbook_comm %>)冊
</div>
<div id="shelf_v">
  <div id="shelf">
    <div class="shelf_h"><%= image_tag ("/images/fms.gif", :class => "fms") %></div>
    <%= render :partial => 'imagelist' %>
    <div class="shelf_h"><%= image_tag ("/images/fms.gif", :class => "fms") %></div>
  </div>
</div>
<div id="shelf_shade"></div>

<%= render :partial => 'footer' %>
