<%= render :partial => 'header' %>

<div id="shelf_v">
  <div id="shelf">
    <div class="shelf_h"><%= image_tag ("/images/fms.gif", :class => "fms") %></div>
    <% @entrylist = @shelf.entries %>
    <%= render :partial => 'imagelist' %>
  </div>
</div>
<div id="shelf_shade"></div>

<%= render :partial => 'footer' %>
