body  {
  background-color: white;
  font-family: sans-serif; 
}
h1     {
	font-size: large;
	font-weight: bold;
	margin: 0;
	padding: 0 0 0 2mm;
}
h2   { font-size: medium; font-weight: normal; margin: 0; padding: 0 }
.description { font-size: small; padding-left: 4mm }
#container  { margin: 0; padding: 0 }
#home_header { background-image: url("../images/logo_top.jpg"); background-repeat: no-repeat; margin: 0; padding: 0; width: 100%; height: 64px }
#hondana_org  { font-size: small; background-image: url("../images/bg_hondana_org.jpg"); background-repeat: no-repeat; margin: 0; padding: 0; width: 100% }
#link_home { width: 110px; height: 48px; border-width: 0 }
#edit { font-size: small; text-align: right; padding: 1mm 2mm 0 }
#header      { margin: 0; padding: 2mm }
#menu_top       { font-size: small; text-align: right; padding: 0 2mm; float: right; }
#menu_bottom    { font-size: small; text-align: right; padding: 0 2mm; float: right; }
#book_volumes     { font-size: small; text-align: right; margin: 0; padding: 1mm 2mm 1mm 0 }
#shelf_v  { background-repeat: repeat; margin: 0; padding: 0; width: 100% }
#shelf       { font-size: small; background-image: url("../images/bg_shelf.jpg"); background-repeat: repeat; margin: 0; padding: 0; overflow: hidden }
#shelf_imagelist { background-image: url("../images/bg_shelf_imagelist.jpg"); background-repeat: repeat; margin: 0; padding: 0 0 0 8px; width: 100% }
.shelf_h   { background-image: url("../images/bg_shelf_h.jpg"); background-repeat: repeat; margin: 0; padding: 0; width: 100%; height: 10px; max-height: 10px }
.list  { font-size: small; background-image: url("../images/bg_list.jpg"); background-repeat: repeat; margin: 8px; padding: 2mm }
.book_image  { width: 80px; height: 120px; border-width: 0 }
.book_noimage  { background-image: url("../images/bg_list.jpg"); margin: 0; padding: 0; width: 80px; height: 120px; overflow: hidden }
.book_shade { background-image: url("../images/book_shade.jpg"); text-align: left; margin: 0; padding: 0; width: 88px; height: 120px }
#shelf_shade  { background-image: url("../images/bg_shelf_shade.jpg"); background-repeat: repeat-x; margin: 0; padding: 0; height: 10px }
#footer      { font-size: small; padding: 0 2mm; height: 20px; clear: both }
.fms { }
#list  { font-size: small; background-image: url("../images/bg_list.jpg"); background-repeat: repeat; margin: 8px; padding: 2mm }
#book_noimage  { background-image: url("../images/bg_list.jpg"); margin: 0; padding: 0; width: 80px; height: 120px; overflow: hidden }
#shelf_h { background-image: url("../images/bg_shelf_h.jpg"); background-repeat: repeat; margin: 0; padding: 0; width: 100%; height: 10px; max-height: 10px }

/* 下線をやめてみる 2013/01/03 20:38:42 */
a:link { color: #0000e0 ; }
a:visited { color: #0000e0 ;}
a { text-decoration: none; }
