body {
  background-color:#ffe;
  color: #000;
}
a {
  color:#0000ff;
}
a:link { color: #0000e0 ; }
a:visited { color: #0000e0 ;}
a { text-decoration: none; }

a.nextsearch {
  color:#009900;
}

b {
	color:#ffff88;
}
xxh1 {
	color: #222;
	/* background-color: #c0c0ff; */
	background-image: url("../images/bg_hondana_org.jpg");
	margin-right: 0%;
	margin-left: 0%;
	text-align: center;
	padding: 0.2em 0.0em;
	text-indent: 0.25em;
	border-style: none;
}
h2 {

}
/*
h2 {
	color: black;
	background-color: #c0ffc0;
	margin-right: 0%;
	margin-left: 0%;
	text-align: left;
	padding: 0.1em 0.1em;
	text-indent: 0.25em;
	border-style: none;
}
*/
pre {
	padding: 0.3em 0.3em;
	background-color:white;
	color:black;
}

div.expression {
       color:black;
       width:94%;
	background-color: #ffc0c0;
	margin-right: 0%;
	margin-left: 0%;
	text-align: left;
	padding: 0.2em 0.2em;
	text-indent: 0.25em;
	border: 2px inset #ccc;
}
span#commandstr {
      font-weight:bold;
}


div.button {
  background:#bbb;
  color:#000000;
  /* font-size:15px; */
  /* font-weight:bold; */
  border:2px outset #bbb;
  padding: 1 2 2 5;
  margin: 2;
  width: 100%;
  border-radius:5px;
}
div.button:hover {
  color: #000;
  background:#ddd;
}
input {
  width:50;
}
