<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>検索</title>
  <%= stylesheet_link_tag 'bookshelf' %>
</head>

<body topmargin='0' marginwidth='0' marginheight='0' leftmargin='0'>
  <%= yield %>
</body>
</html>

