<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @shelf.nil? ? '' : @shelf.name %>の本棚</title>
  <%= stylesheet_link_tag 'bookshelf' %>
  <!-- link href="/stylesheets/bookshelf.css" media="screen" rel="Stylesheet" type="text/css" /-->
</head>

<body topmargin='0' marginwidth='0' marginheight='0' leftmargin='0'>
  <div id="container">
    <%= @content_for_layout %>
  </div>
</body>
</html>
